<link rel="stylesheet" type="text/css" href="../static/bower_components/datatables/media/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/bower_components/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js"></script>

<div id="tabs-cashflow" class="tab-pane">
  <form id="rep1cashform">
      公司代號:<input type="text" name=companyId value=5522>
      <input type="submit" value="query" id=sel>
      <span id=cashflow></span>
  </form>
  <span><button id=enable>fix column</button></span>

  <div class="row" id="cash">
  </div>
</div>

<script>
function cashFlow(data) {
  var span = document.getElementById("cashflow");
  span.innerHTML=`${data.tb1.cash}>>>${data.companyId}`;
  var innerThs = data.cashFlow[0].slice(1,-1).map(x =>`
    <th style='text-align: right;width: 100%;'>${x.value}</th>`);
  var thead = `
    <thead>
      <tr>
        <th style='text-align: center'>${data.cashFlow[0][0].value}</th>
        ${innerThs.join('')}
        <th>Sparklines</th>
      </tr>
    </thead>`;
  var tbody = data.cashFlow.slice(1).map(function(x){
      var innerTds= x.slice(1, -1).map(x =>`
        <td>
          <div style="background-image: linear-gradient( to right, ${x.color} ${x.width}%, #FFF 0px);text-align: right;">${x.value}</div>
        </td>
        `);
      return `
        <tr>
          <td><div>${x[0].value}</div></td>
          ${innerTds.join('')}
          <td>${x.slice(-1)[0].value}</td>
        </tr>`; //slice return an array, not a constant
  });
  var table = document.getElementById("cash");
  table.innerHTML = `
    <table id="cashFlowStatement" class="display compact nowrap">
      ${thead}
      <tbody>${tbody.join('')}</tbody>
    </table>`;

  $(function() {
      for (var i = 0; i < data.lsparkline.slice(1).length; i++) {
        console.log(`sparklinecash:`, i, data.lsparkline.slice(1)[i].slice(1, -1));
        $('.inc'+(i+1)).sparkline(data.lsparkline.slice(1)[i].slice(1, -1), {width:'100px',height:'25px', spotColor: undefined,
        minSpotColor: '#00ff00',
        maxSpotColor: '#ff0000'});
      }
  });

    var table4 =$('#cashFlowStatement').DataTable({
      colReorder: true,
      scrollY:        820,
      scrollX:        true,
      scrollCollapse: true,
      paging:         false,
      searching: false,
      info:     false,
      ordering: false,
      fixedColumns:   true,
      fixedHeader: true
    });
}

</script>

<script>
$(function() {
    $('#rep1cashform input[type="submit"]').on('click', function() {
        $('#tabs a[href="#tabs-cashflow"]').click();
        console.log(0);
        $.getJSON($SCRIPT_ROOT + '/cashflow/', {
        data: $(this).parent().serialize()
        }, function(data) {
            console.log(1);
            //cash
            cashFlow(data)
        });
    return false;
    });
});
</script>
