<!--jquery-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--do not use jquery-3.1.1-->
<!--<script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>-->
<!-- <script type="text/javascript" src="../static/jQuery-2.2.3/jquery-2.2.3.min.js"></script> -->
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>

<!--bootstrap-->
<!--need jquery-->
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!--dygraphs-->
<!-- <script type="text/javascript" src="../static/dygraph-combined-dev.js"></script> -->
<script type="text/javascript" src="../static/bower_components/dygraphs/dygraph-combined-dev.js"></script>
<!--dygraphs synchronizer--><!--cannot put before dygraph-combined-dev.js-->
<!--copy latest version from github-->
<script type="text/javascript" src="../static/extras/synchronizer.js"></script> <!--this version can synchronize x without synchronizing y-->
<!--<script type="text/javascript" src="../static/bower_components/dygraphs/extras/synchronizer.js"></script>-->

<!--jquery-ui-->
<!-- <link rel="stylesheet" href="../static/jquery-ui-1.12.1/jquery-ui.min.css">
<script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
<script src="../static/jquery-ui-1.12.1/jquery-ui.min.js"></script> -->
<link rel="stylesheet" href="../static/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
<!-- <script src="../static/bower_components/jquery-ui/external/jquery/jquery.js"></script> -->
<script src="../static/bower_components/jquery-ui/jquery-ui.min.js"></script>

<!--react-->
<script src="https://unpkg.com/react@latest/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<!--datatable-->
<!--need to load jqeury first unless download package include jquery-->
<!--need to download extentions like fixedColumns, fixedHeader, responsive-->
<!--useless when put here-->

<!--sparkline-->
<script type="text/javascript" src="../static/jquery.sparkline.js"></script>
<!-- <script type="text/javascript" src="../static/bower_components/sparklines/source/sparkline.js"></script> -->

<!--highstock--><!--need to put before highcharts-->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<!--highcharts-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- <script src="‪C:/Users/ak66h_000/node_modules/vue/dist/vue.js"></script> -->
