<script type=text/javascript>

$(function() {
    $('#mpform input[type="submit"]').on('click', function() {
        // document.getElementById('div13').innerHTML='';  // don't use $("#div13").innerHTML
        $.getJSON('http://0.0.0.0:8000' + '/mpajax/', {
        data: $("#mpform").serialize(),
        }, function(data) {
          console.log(0);
          var divs =data.L1.map(function(l){
              var text =`<div id = graphdiv{0} class=inline style='width:450px;'></div>`.format(l[0]); // don't use `<div id = graphdiv{0} class=inline style="width:450px;"></div>`
              return text;
          });
          console.log(`divs.join(''):`,divs.join('')); // can't use 'divs.join(''):'
          document.getElementById('div13').innerHTML=divs.join('');
          // console.log($("#div13").innerHTML);

          data.L1.map(function(l){
            // $("#div13").append('<div id = graphdiv'+l[0]+' class=inline style="width:450px;"></div>');
            new Dygraph(document.getElementById("graphdiv"+l[0]),
                      l[2],
                      {
                        labels: l[3],
                        title:l[6],
                        axes: {
                            x: {
                                valueFormatter: Dygraph.dateString_,
                                axisLabelFormatter: Dygraph.dateAxisFormatter,
                                ticker: Dygraph.dateTicker
                            }
                      },
                      //showRangeSelector: true,
                      legend: 'follow',
                      labelsSeparateLines:true,
                      connectSeparatedPoints:false
                      });
          });
        });
    $('#tabs a[href="#tabs-splitOut"]').click(); //need this or the plot won't show
    return false;
    });
});
</script>
